.container{
	width: 1140px;

}
.box{
	font-size: 18px;
	color:#1C1C1C;
	font-weight: bold;
	margin-left: 20px;
}
.line{
	width: 40px;
border-bottom: 3px solid darkorange;
margin-left:20px;
}
.box1{
	margin-top: 20px;
	color: white;
	margin-left:20px;
}
.box1in{
	width: 540px;
background: var(--unnamed-color-4b006d) 0% 0% no-repeat padding-box;
background: #4B006D 0% 0% no-repeat padding-box;
border-radius: 5px;
padding: 15px 50px 15px 50px;
align-items: center;
	text-align: center;
}
.box1inn{
	width: 540px;
	padding: 15px 50px 15px 50px;
	align-items: center;
	text-align: center;
background: var(--unnamed-color-f4f4f4) 0% 0% no-repeat padding-box;
background: #F4F4F4 0% 0% no-repeat padding-box;
border-radius: 5px;
color: black;
}
.box2{
	width: 1140px;
height: 110px;
border-radius: 5px;
background: var(--unnamed-color-f9f0de) 0% 0% no-repeat padding-box;
background: #F9F0DE 0% 0% no-repeat padding-box;
margin-top: 30px;
padding: 20px 0 20px 20px;
}
.add{
  color: #8D8D8D;
  font-size: 12px;
}
.address{
	color: #1C1C1C;
	font-size: 14px;
}
.register{
	color: #1C1C1C;
	font-size: 15px;
}
.box3{
	display:  flex;
	margin-top: 30px;
}
.form-group{
	width: 320px;
height: 54px;
}

label{
	display: inline-block;
	margin-bottom: 5px;

}
input.form-control{
	border: hidden;
	border-bottom:2px solid #E8E8E8;
	border-radius:0;
	padding-left: 0;
	padding-top: 0;
}
input.form-control::placeholder{ font-size:14px; color:#8D8D8D;}
.form-group2{
	width: 1099px;
margin-top: 20px;
}

.box5{
background: var(--unnamed-color-f9f0de) 0% 0% no-repeat padding-box;
background: #F9F0DE 0% 0% no-repeat padding-box;
margin-top: 20px;
border-radius: 5px;
padding-top: 20px;
}
.box6{
	display: flex;
	flex-wrap: wrap;
}
.form-group4{
	width: 320px;
height: 54px;
}

.text3{
	color: #4B006D;
	font-size: 14px;
	font-weight: bold;
}
.option{
	color: #606060;
}
.box7{
	display: flex;
	padding: 30px 0 30px 0;
}
.more button{
   width: 153px;
height: 40px;
border: 1px solid #4B006D;
border-radius: 5px;
color:  #4B006D;
}
.set button{
  width: 72px;
height: 40px;
border-radius: 5px;
margin-left: 10px;
background: #E1D6C1 0% 0% no-repeat padding-box;
color:  #4B006D;

}
.box8{
	width: 377px;
height: 50px;
display: flex;
margin-top: 50px;

}
.save{
	
	width: 213px;
height: 50px;
/* UI Properties */
background: var(--unnamed-color-4b006d) 0% 0% no-repeat padding-box;
background: #4B006D 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #4B006D33;
border-radius: 5px;
}
.save button{
	font-size: 14px;
	color:#FFFFFF;
}
.all{
	
	width: 154px;
height: 50px;
margin-left: 10px;
background: var(--unnamed-color-f4f4f4) 0% 0% no-repeat padding-box;
background: #F4F4F4 0% 0% no-repeat padding-box;
border-radius: 5px;
}

.all  button{
	font-size: 14px;
	color: #8D8D8D;
}
.biglines{
	
	width: 100%;
border-bottom:1px solid lightgrey;
margin: 50px 0 50px 0;
}
.form-group3{
	width: 320px;
	margin-top: 15px;
}
.form-group5{
	margin-top: 30px;
}
