.container{
	width: 1140px;
height: 145px;
}
.mainbox{
	width: 100%;
height: 145px;
margin-top: 30px;
}
.box{
	width: 100%;
	display: flex;
}
.otp{
	color: #231A3D;
	font-size: 20px;
	font-weight: bold;
    margin-left:15px;
}
.line{
	width: 40px;
margin-left:50px;
border-bottom: 3px solid #814D99;
}
.box1{
	width: 360px;
height: 104px;
margin: auto;
background: var(--unnamed-color-f9f0de) 0% 0% no-repeat padding-box;
background: #F9F0DE 0% 0% no-repeat padding-box;
display: flex;
margin-top: 40px;
margin-bottom: 20px;
}
.email{
	font-weight: bold;
}
.num{
	font-weight: bold;
}
.box1in{
	width: 301px;
height: 63px;
margin: auto;
	text-align: center;
	align-items: center;
color: #1C1C1C;
font-size: 14px;
}
.box2{
	width: 360px;
height: 54px;
margin: auto;
}

label{
	color:#8D8D8D;
	font-size: 12px;
	text-align: left;
	margin-bottom: 0;
	font-weight: bold;
}
.form-group{
	margin-bottom: 0;
}
.click button{
	padding-top: 0;
}
input.form-control{
	border: hidden;
	border-bottom:2px solid #E8E8E8;
	border-radius:0;
	padding-left: 0;
	padding-top: 0;
}
input.form-control::placeholder{ font-size:14px; color:#1C1C1C; font-weight: bold;}
.box3{
	width: 298px;
}
.text{
	color: #606060;
	font-size: 14px;
}
.click{
	color: #4B006D;
	font-weight: bold;
	font-size: 14px;
}

.box5{
	width: 360px;
height: 50px;
margin-top: 30px;
display: flex;
}
.verifybox button{
	width: 360px;
height: 50px;
background: var(--unnamed-color-4b006d);
background: #4B006D;
box-shadow: 0px 2px 6px #4B006D33;
font-size: 14px;
	color: #FFFFFF;
}
.box6{
	margin: 20px 0 10px 0;
	align-items: center;
	text-align: center;
}
.box7{
	width: 218px;
margin: auto;
align-items: center;
text-align: center;
}
.pvt{
  font-weight: bold;
	font-size: 20px;
	color: #231A3D;
}
.kra{
	font-size: 14px;
	color: #606060;
}
.inbox7{
	width: 102px;
height: 33px;
margin: auto;
margin-top:30px;
margin-bottom: 30px;
display: flex;
}
.spinner{
	width: 33px;
height: 33px;
transform: matrix(-1, 0, 0, -1, 0, 0);
border-radius:30px;
background: transparent linear-gradient(90deg, #FFFFFF00 0%, var(--unnamed-color-4b006d) 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(90deg, #FFFFFF00 0%, #4B006D 100%) 0% 0% no-repeat padding-box;
opacity: 1;

}
.load{
	color: #8D8D8D;
	font-size: 12px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content:center;
	padding-left: 10px;
}
.box8{
   width: 248px;
   align-items: center;
   text-align: center;
   margin: auto;
}
.smalltxt{
	color: #606060;
	font-size: 12px;
}
input.form-control{
	border: hidden;
	border-bottom:2px solid #E8E8E8;
	border-radius:0;
	padding-left: 0;
	padding-top: 0;
}
