.header{
	width:100%;
}
.container{
	max-width: 1140px;
    width: 100%;
}
.navbar {
    background-color:white;
    width: 100%;
    margin: auto;
}
.headerleft{
    display: flex;
}
.navbar a {
    display: block;
    text-align:left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.smediaicon{
  display: inline-block;
  display: flex;
}
.smediaicon img{
    width:100%;  
}
.home{
    font-weight: bold;
    color: black;
}
.mainbox{
    width:1140px;
    justify-content: center;
    margin: auto;
}
.banner img{
    width: 100%;
}
.container1{
	width:1140px;
}
.box{
    width:100%;
    background-color:darkblue;
    margin: auto;
    padding:0 0 60px 40px;
}
.boxbenefits{
    width: 100%;
}
.benefitsname{
    font-size: 22px;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 10;
}
.text{
    padding-top: 15px;
    font-size: 14px;
    color: white;
    align-items: center;
   text-align: center;
}
.icons{
    width:20%;
    height:30%;
    background-color: white;
    border-radius:50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top:30px;
}
.icons img{
    width:60%;
}
.box2{
    margin: auto;
}
.text1{
    width: 100%;
   align-items: center;
   text-align: center;
   font-size:25px;
   font-weight: bold;
   padding-top:50px;
}
.text2{
     width: 100%;
   align-items: center;
   font-size: 14px;
   color: gray;
   font-weight: normal;
   margin: auto;
   padding-top: 20px;
}
.box3{
    width:100%;
    margin-top: 20px;
}
.boxprofessionals{
    width: 100%;
    display: flex;
      align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-top:40px;
}
.iconpro{
    width:50px;
    border-radius:30px;
    background-color:blue;
    margin-top:40px;
}
.iconpro img{
    width:100%;
}
.iconpro:hover img{ transform:scale(1.2); transition: all .3s}
.iconpro:hover{overflow: hidden;}
.profess{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-left:20px;
    padding-top: 40px;
}
.text4{
    font-size:14px;
    color: grey;
    font-weight: normal;
    text-align: left;
    padding:0px 0 40px 0;
}
.doctor img{
    width: 100%;
    height:auto;
}
.doctor:hover img{transform:scale(1.2); transition: all .3s }
.doctor{overflow: hidden;}
.box4{
    background: #000 url('../images/bg color.jpg');
    background-size: cover;
    width:100%;
    padding:70px 50px 70px 50px; 
}
.humanicons{
    width: 100%;
     justify-content: center;
    display: flex;
}
.humanicons img{
    width:100%;
    height:100%;
}
.no{
    font-size:50px;
    color: white;
    font-weight: 500;
      align-items: center;
      text-align: center;
}
.line{
    width:30%;
    height:3%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color:white;
}
.humantxt{
    width:45%;
    margin: auto;
    padding-top: 15px;
    line-height: 1;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: white;
}
.box9{
    width:100%;
    margin: auto;
    margin-top:50px;
}
.alltext{
    width: 100%;
    line-height:1.8;
}
.txt9{
  font-size: 25px;
  font-weight:bold;
  line-height:1.8;
}
.txt10{
  font-size: 14px;
  padding:10px 0 30px 0;
  line-height:1.8;
}
.boxbreak{
    width: 100%;
}
.boxbreakdr{
    display: flex;
    width: 100%;
}
.boxbreakdr img{
    width:100%;
}
.boxbreakdr:hover img{transform:scale(1.2); transition: all .3s}
.boxbreakdr:hover{overflow: hidden;}
.textall{
    margin-top: 15px;
}
ul{
    list-style-type: none;padding: 0;margin: 0;font-size: 16px;
}
li{
    list-style-type: none;padding: 0;margin: 0;font-size: 16px;
}
.date{
    color: blue;font-size: 14px;
}
.loreumtxt{
    font-size: 14px;padding-top: 10px;
}
.four{
    margin: auto;
    margin-top: 20px;
}
.four button{
    width: 150px;
    padding:10px 20px 10px 20px;
    border-radius: 30px;
    background-color: darkblue;
}
.five button{
    width:100%;
   height:40px;
    border-radius: 30px;
    text-align: left;
   margin:0 0 20px 10px;
   padding-left: 20px;
}
.txt14{
    font-size: 14px;
    line-height:1.8;
}
.six{
    margin-top: 10px;
}
.six button{
    width:100%;
   height:40px;
    border-radius: 30px;
    text-align: left;
   padding-left: 20px;
}
.allsixbuttons{
    margin-top: 20px;
}
.box5{
    background:purple url('../images/greenbd.jpg');
    background-size: cover;
    width:100%;
    padding: 10px 20px 40px 20px;
    margin: auto;
    margin-top:50px;
}
.gallery{
    align-items: center;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    color:white;
    padding-top:30px;
}
.txt6{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
}
.box6{
    width: 100%;
}
.alltypes{
    width: 100%;
    display: flex;
    padding:30px 30px 0 30px;
    justify-content: center;
}
.alltypes img{
    width:100%;
    height:auto;
}
.alltypes:hover img{transform:scale(1.2); transition: all .3s}
.alltypes:hover{overflow: hidden;}
.box7{
    width: 100%;
}
.team{
    align-items: center;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    color: black;
    padding-top:50px;
}
.txt7{
    align-items: center;
    text-align: center;
    color: black;
    font-size:14px;
    padding-top: 20px;
}
.box8{
    width:100%;
    margin-top: 50px;
    margin: auto;
    padding-bottom: 50px;
}
.typesofdr{
    width:100%;
    margin-top:40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.typesofdr img{
   width:80%;
   height:auto;
}
.drname{
    font-size:20px;
    margin-top: 20px;
}
.drspecialist{
    font-size: 14px;
}
.container{
    width: 1140px;
}
.lastbox{
    width:100%;
    background-color:lightgrey;
    font-size: 20px;
    font-weight: bold;
    margin-top:50px;
    padding:50px 0 50px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.seven{
    width: 100%;
}

.seven button{
    width:30%;
   height:40px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
}
.smediaicons{
    width: 35%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
.smediaicons img{
    width: 100%;
    padding-top: 20px;
}
.endbox{
    width:100%;
    background-color: black;
}
.endboxlist{
    color: white;
    margin-top:60px;
}
.endboxlists{
    font-weight: bold;
    font-size:20px;
}
.listtype{
    font-size: 12px;
    padding:20px 0 20px 20px;
    line-height: 1.8;
}
.triangle{
    display: flex;
    color: white;
}
.triangle img{
    height:auto;
    padding-right:10px;
}

 
.heloo{}
#heloo{}